<!DOCTYPE html>
<html lang="en">
<head>
    
        <!-- <% include ../partials/framework/meta.ejs %> -->
        <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- <h1><%= pageTitle %></h1> -->

    <!-- Calling artwork.ejs file  -->
    <!-- <% include ../partials/artwork.ejs %> -->

    <img src="/images/speakers/Lorenzo_Garcia.jpg" width="300px" alt="">
</body>
</html>